#mobileNav {
	display: none;
	background-color: white;
}

#container-subscribe {
	width: 75%;
}

#carousel-katalog {
	margin-top: 3%;
	padding-bottom: 3%;
}


#home-post-column-title {
	background-color: var(--gray);
}

#home-post .title {
	color: white;
}

#home-post-col:hover {
	opacity: 0.5;
}

#carousel-katalog a,
#katalog-page a
{
	color: var(--gray-dark);
	text-decoration: none;
}

#home-post a
{ 
	text-decoration: none;
}

#carousel-katalog a:hover,
#katalog-page a:hover,
#home-post a:hover
{
	color: var(--primary);
}

#carousel-katalog .card-footer,
#carousel-katalog .card
 {
	background-color: transparent;
 	border-top-style: solid;
    border-top-width: 0px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 0px;
}

#subscribe-form {
	/*border: 4px solid var(--primary);*/
	border-top-color: rgb(206, 212, 218);
    border-top-style: solid;
    border-top-width: 0px;
    border-right-color: rgb(206, 212, 218);
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: var(--gray);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: rgb(206, 212, 218);
    border-left-style: solid;
    border-left-width: 0px;
}

#single-product-summary {
  position: -webkit-sticky; 
  position: sticky; 
  top: 20%;
}

@media screen and (max-width: 768px) {
    #mainNav {
    	display: none !important;
    }  

    #mobileNav {
    	display: block;
    }

    #container-subscribe {
  	 width: 100%;
    }

}

.woocommerce-input-wrapper {
  width: 50%;
}

#shipping_method {
  list-style: none;
  padding-left: 0;
}



/*==== side nav ==== */
.sidenav {
  height: 100%;
  /*width: 0;*/
  position: fixed;
  z-index: 1031;
  top: 0;
  right: 0;
  background-color: var(--secondary);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 3%;
  left: 5%;
  font-size: 36px;
}

.showSideNav {
  width: 350px;
}

.closeSideNav {
  width: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}