#mobileNav {
	display: none;
	background-color: white;
}

#katalog-page-button {
  margin-top: 50%;
}

#container-subscribe {
	width: 75%;
}

#carousel-katalog {
	margin-top: 3%;
	padding-bottom: 3%;
}


#home-post-column-title {
	background-color: var(--gray);
}

#home-post .title {
	color: white;
}

#home-post-col:hover {
	opacity: 0.5;
}

#home-post-mobile {
  display: none;
}

#carousel-katalog a,
#katalog-page a
{
	color: var(--gray-dark);
	text-decoration: none;
}

#home-post a
{ 
	text-decoration: none;
}

#carousel-katalog a:hover,
#katalog-page a:hover,
#home-post a:hover
{
	color: var(--primary);
}

#carousel-katalog .card-footer,
#carousel-katalog .card
 {
	background-color: transparent;
 	border-top-style: solid;
    border-top-width: 0px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 0px;
}

#subscribe-form {
	/*border: 4px solid var(--primary);*/
	border-top-color: rgb(206, 212, 218);
    border-top-style: solid;
    border-top-width: 0px;
    border-right-color: rgb(206, 212, 218);
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: var(--gray);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: rgb(206, 212, 218);
    border-left-style: solid;
    border-left-width: 0px;
}

#single-product-summary {
  position: -webkit-sticky; 
  position: sticky; 
  top: 20%;
}

.navbar-nav .dropdown-item {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
    #mainNav {
    	display: none !important;
    }  

    #mobileNav {
    	display: block;
    }

    #container-subscribe {
  	 width: 100%;
    }

    #katalog-page-button {
      margin-top: 45%;
    }

    #home-post {
      display: none;  
    }

    #home-post-mobile {
      display: block;  
    }

    footer .row .col-1,
    footer .row .col-2
    {
      padding: 0px;
      margin-left: 3%;
    }

    footer .row .text-muted
    {
      font-size: 10px;
    }
}

.woocommerce-input-wrapper {
  width: 50%;
}

#shipping_method {
  list-style: none;
  padding-left: 0;
}

.shop-page .card:hover,
#carousel-katalog .card:hover
{
  box-shadow: 0 0 11px var(--gray-dark); 
}

.button-shadow {
  box-shadow: 0 0 11px var(--gray-dark); 
}



/*==== side nav ==== */
.sidenav {
  height: 100%;
  /*width: 0;*/
  position: fixed;
  z-index: 1031;
  top: 0;
  right: 0;
  background-color: var(--secondary);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav td {
  font-size: 8px;
}

.sidenav .closebtn {
  position: absolute;
  top: 3%;
  left: 5%;
  font-size: 36px;
}

.showSideNav {
  width: 350px;
}

.closeSideNav {
  width: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}